    
        textarea {
		  resize: none;
		  display: block; 
		  margin: 0
		  auto;
          
		}
		h1 {
		  text-align: center;
		}
        
        h2 {
            display: none;
            text-align: center;
        }
		
        #openingP {
		  text-align: center;
		}
		
        #reverseBtn{
		  display: block; 
		  margin: 0 
		  auto;
		}
		
        #divrevBtn {
		  margin-bottom: 10px;
		  margin-top: 10px;
		}
        
        #resetBtn {
          display: block; 
		  margin: 0 
		  auto;
        }