
        #headerDiv{

            float: left;
            margin-right: 1050px;
            
        }

     
		#headerDiv h1 {
	
          font-family: Helvetica;
          font-weight: strong;
          background-color: darkgreen;
          color: white;
          padding: 10px 10px 10px 10px;
		}

        
        #outputHead {
            font-family: Helvetica;
            font-weight: bold;
        }
		
     


        p {

            font-family: Helvetica;
        }