
body {
    background-color: f7eed9;
}

#headerDiv {
margin-top: 20px;
height: 90px;
width: 300px;
border-style: hidden;
border-width: 1px 1px, 1px, 1px;
background-color: #72aeb5;

}

#opening {
    background-color: #72aeb5;
    height: 50px;
    width: 705px;
    margin-left: 300px;
    margin-top: 20px;

   
}

#opening p {
  
    font-weight: bold;
    padding: 15px 5px 5px 5px;
    
    color: white;

}


#headerDiv h1 {
    font-family: Helvetica;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    color: white;
   
    
   
}


#outputHead {
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-family: Helvetica;
}
